
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json
__blobstorage__
__queuestorage__
__azurite_db*__.json
.debug/Microsoft.Azure.Workflows.Debug.Symbols.dll
.gitignore
.debug/Microsoft.Azure.Workflows.Debug.Symbols.pdb
